<% layout('layouts/boilerplate')%>
<div class="d-flex flex-column align-items-center" style="height: fit-content; min-height: calc(100% - 0px);">
    <h1>Your Shopping Cart</h1>

    <div class="row" style="width: 60%">
        <div class="col d-flex flex-column mb-1">
            <% for (let cart of carts){%>
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <%if(cart.item.images.length) {%>
                            <img class="img-fluid" alt="" src="<%=cart.item.images[0].url%>">
                            <% }else {%>
                            <img class="img-fluid" alt=""
                                src="https://plus.unsplash.com/premium_photo-1673458070037-8cc98a465c0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=455&q=80">
                            <% } %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= cart.item.name %> </h5>
                                <p class="card-text">
                                    <small class="text-muted"><%=cart.quantity%> &#215;</small>
                                    <small class="price-label text-muted"><%= cart.item.price%></small>
                                </p>
                                <h6 class="card-title price-label"><%= cart.quantity * cart.item.price %></h6>
                                <form class="mb-3" action="/cart/<%=cart._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                                <form action="/cart/<%=cart._id%>?_method=PUT" method="POST">
                                    <div class="mb-2">
                                        <label class="form-label" for="qty">Edit Quantity</label>
                                        <input class="form-control" type="number" id="qty" name="quantity" 
                                            value="<%= cart.quantity %>" required>
                                    </div>
                                    <button class="btn btn-success">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% }%>
        </div>
        <div class="col d-flex flex-column">
            <form action="/transaction" method="POST">
                <button class="btn btn-success">Checkout</button> 
            </form>
        </div>
    </div>
</div>


